<div class="wrapper">
  <div class="filter">
    <p>Flters</p>
    <form [formGroup]="filterForm" (submit)=FilterData() class="filter-form">
      <div class="genre-area">
        <p>Genres</p>
        <div class="genre-check-area">
          <ul class="genres-list">
            <li *ngFor="let genre of genres.extendedGenre">
              <label><input type="checkbox" [checked]="genre.checked" (change)="genre.checked = !genre.checked">{{genre.name}}</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="platform-area">
        <p>Platforms</p>
        <div class="platform-check-area">
          <ul class="platforms-list">
            <li *ngFor="let platform of platforms.extendedPlatform">
              <label><input type="checkbox" [checked]="platform.checked" (change)="platform.checked = !platform.chacked">{{platform.type}}</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="publisher-area">
        <p>Publishers</p>
        <div class="publisher-check-area">
          <ul class="publisher-list form-group">
            <li *ngFor="let publisher of publishers.extendedPublisher">
              <label><input type="checkbox" [checked]="publisher.checked" (change)="publisher.checked = !publisher.checked">{{publisher.name}}</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="date-area">
        <p>Date of publishing</p>
        <select formControlName="dateOfPublishing" class="date-selector">
          <option *ngFor="let item of dates" [value]="item.value">{{item.key}}</option>
        </select>
      </div>
      <div class="popularity-area">
        <p>Popularity</p>
        <select formControlName="popularity" class="popular-type-selector">
          <option *ngFor="let item of popularity" [value]="item">{{item}}</option>
        </select>
      </div>
      <div class="price-area">
        <p>Price</p>
        <div class="price-selector">
          <div class="price-from">
            <p>From:</p>
            <input type="text" formControlName="from">
          </div>
          <div class="price-to">
            <p>To:</p>
            <input type="text" formControlName="to">
          </div>
        </div>
      </div>
      <button class="submit-filter" type="submit">Filter all</button>
    </form>
  </div>
</div>
