<div class="wrapper">
    <div class="main-body">
        <div class="body-header">
            <h3>DO YOU KNOW WHO IS JOHN RAMBO?</h3>
            <button (click)="LearnMore()">LEARN MORE</button>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quaerat illo veniam distinctio quia recusandae? Eius quaerat nisi error laboriosam impedit esse ratione quidem ipsa, aliquid vero asperiores saepe eligendi!</p>
        <ul class="body-content-list">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nobis, impedit ullam voluptate recusandae officia sed, quae voluptas reiciendis sunt omnis perferendis eius, facilis libero soluta asperiores veritatis! Expedita, quaerat.Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, vero? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, aliquid?</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, nobis.</li>
        </ul>
    </div>
    <div class="knoked-em">
        <h3>WE KNOKED EM'LL</h3>
        <img class="upper-brand" src="/assets/images/upper-brand.jpg" alt="brand-logo">
        <img class="lower-brand" src="/assets/images/lower-brand.jpg" alt="brand-logo">
    </div>
</div>