.wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    border-right: dashed grey;
    border-block-end: 80%;
    text-align: justify;
    padding: 10px;
}

.body-header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.body-header button{
    background-color: orange;
    align-self: flex-end;
    border-radius: 10px;
    border: 2px solid rgb(204, 133, 2);
    width: 130px;
    font-weight: bold;
    color: white;
    align-self: center;
}

.body-content-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: -20px;
    height: 100%;
}

.body-content-list li{
    padding-bottom: 5px;
    border-bottom: dashed 1px grey;
}

.body-content-list :last-child{
    border-bottom: none;
}

.knoked-em{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.upper-brand, .lower-brand{
    border: solid 1px gray;
    border-radius: 10px;
}

.upper-brand{
    height: 90px;
}

.lower-brand{
    height: 120px;
}

@media all and (max-width:855px){
    .main-body{
        border: none;
    }
}

