<div class="wrapper">
    <div class="image-item">
        <img src="" alt="game Image">
        <p>gameId= {{game.gameId}}</p><br>
        <p>Name= {{game.name}}</p><br>
        <p>Description= {{game.description}}</p><br>
        <p>PublisherId= {{game.publisherId}}</p><br>
        <p>AmountOfViews= {{game.amountOfViews}}</p><br>
        <p>Price= {{game.price}}</p><br>
        <p>DateOfAdding= {{game.dateOfAdding}}</p><br>
          <div *ngFor="let genre of game.genres" class="game-genres">
              <p>genre: {{genre.name}}</p><br>
          </div>
      </div>
</div>