<div class="wrapper">
  <div class="game-form-area">
    <form [formGroup]="gameModel" class="create-game-form" (submit)="CreateGame()">
      <div class="form-group">
        <label for="gameName">Name of game</label>
        <input formControlName="gameName" class="form-control" type="text" id="gameName" placeholder="Game name" 
          [ngClass]="{'is-invalid': (messagePool['gameName']!=='')}">
        <span class="invalid-feedback">
          {{messagePool['gameName']}}
        </span>
      </div>
      <div class="form-group">
        <label for="game-description">Game description</label>
        <textarea class="form-control" formControlName="gameDescription" id="game-description" cols="30" rows="5" 
          [ngClass]="{'is-invalid': (messagePool['gameDescription'] !=='')}"></textarea>
        <span class="invalid-feedback">
          {{messagePool['gameDescription']}}
        </span>
      </div>
      <div class="form-group">
        <label for="game-price">Price</label>
        <input formControlName="gamePrice" class="form-control" type="text" id="game-price" placeholder="Game price" 
          [ngClass]="{'is-invalid': (messagePool['gamePrice']!=='')}">
        <span class="invalid-feedback">
          {{messagePool['gamePrice']}}
        </span>
      </div>
      <div class="genres-area">
        <p>Genres</p>
        <ul>
          <li *ngFor="let genre of extendedGenres ">
            <label>
              <input type="checkbox" formControlName="gameGenre" [checked]="genre.checked" (change)="genre.checked = !genre.checked">{{genre.name}}
            </label>
          </li>
        </ul>
      </div>
      <div class="platforms-area">
        <p>Platforms</p>
        <ul>
          <li *ngFor="let platform of extendedPlatforms ">
            <label>
              <input type="checkbox" formControlName="gamePlatform" [checked]="platform.checked"
                (change)="platform.checked = ! platform.checked">{{platform.type}}
            </label>
          </li>
        </ul>
      </div>
      <div class="publishers-area">
        <p>Publisher</p>
        <ul>
          <li *ngFor="let publisher of extendedPublishers ">
            <label>
              <input formControlName="gamePublisher" value={{publisher.publisherId}} type="radio" name="gamePublisher" 
                [ngClass]="{'is-invalid': (messagePool['gamePublisher']!=='')}">{{publisher.name}}
            </label>
            <span class="invalid-feedback">
              {{messagePool['gamePublisher']}}
            </span>
          </li>
        </ul>
      </div>
      <button type="submit" [disabled]="!gameModel.valid || gameModel.get('gameGenre').value===false || gameModel.get('gamePlatform').value===false" >Create Game</button>
    </form>
  </div>
</div>