<div class="login-wrapper">
  <div class="login-window">
    <button class="close-btn" (click)="CloseLogin()">X</button>
    <p><span>Log in to Your Account</span></p>
    <div class="login-data">
      <form #form="ngForm" (submit)="LogIn(form.value)" class="login-form">
        <div [hidden]="email.untouched || email.valid " class="alert alert-danger">
          Enter valid email
        </div>
        <input required type="text" #email="ngModel" (ngModel)="user.email" name="email" placeholder="Enter your Email"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
        <div [hidden]="password.untouched || password.valid " class="alert alert-danger">
          Enter password
        </div>
        <input required type="text" #password="ngModel" (ngModel)="user.password" name="password"
          placeholder="Enter your password">
        <div class="additional">
          <div class="checkbox-group">
            <input id="rememberMe" type="checkbox" [(ngModel)]="user.rememberMe" name="rememberMe">
            <label for="rememberMe">Remember me for 30 days</label>
          </div>
          <a href="">Forgot password?</a>
        </div>
        <button [disabled]="!form.valid" type="submit">Log in</button>
      </form>
    </div>
    <div class="login-footer">
      <label for="">Need an account?</label>
      <a router-link="/Register" router-link-active="active">Sign Up</a>
    </div>
  </div>
</div>